{{ define "category.html"}}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {{ template "_header". }}
  </head>
  <body>
    <div class="container">
            {{ template "_bodyhead"}} 
            <div class="mt-5">
            <h3>{{.Titles.Title }}</h3><br>
            <a href="/admin/category/create" class="btn btn-outline-primary mb-3">Add New Category</a>
            <table class="table table-stripsed">
                <thead>
                <th>Name</th>
                <th>Slug</th>
                <th>Description</th>
                </thead>
                <tbody>
                    {{ range $category,$i := .Results}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Slug}}</td>
                            <td>{{.Description}}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        </div>
    </div>  
    {{ template "_footer". }}
  </body>
</html>
{{ end}}