
<!DOCTYPE html>
<html>
<head>
    {{ template "_webheader"}}
    <title>{{ .Results.Title }} | LOG Activity </title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 m-5">
                <h1 class="text-center text-white"> <a href="/" class="heading_label"><b class="text-danger">LOG</b> <span>Activity</span> </a></h1>
            </div>
        </div>
        <div class="row detail">
            <div class="col-md-8 offset-md-2 ">
                    <h1 class="text-white mb-4">{{ .Results.Title }}</h1>
                    <img src="{{ .Results.Image }}" class="img-fluid img-thumbnail mb-4">
                    <p class="text-white">
                        {{ .Results.Content }}
                    </p>
                    <span  class="btn btn-outline-info">{{ .Results.Category }}</span>
            </div>
        </div>
    </div>
    
</body>
</html>